<div class="about-body">
	<div class="body-banner">
		<h1>KENNY TROUNG</h1>
	</div>
	<div class="about-info">
		<img src="assets/15edgecroft.gif" id="headshot">
		<p>
			Self-proclaimed “#FastAgent” on Facebook, Twitter and Instagram, I have successfully closed on over 70 transactions in the past 2 years alone. As Million Dollar Listing’s Josh Altman puts it, I am a #RealEstateHolic! My daily agenda includes selling real estate in the East Bay during the day, and returning to the enclave at night, where I sell luxury homes in my dreams!

			My passion and core of my business lies in working with first-time buyers, which includes navigating them through the hurdles and challenges of one of the most competitive, fiercest housing markets in U.S. history. Every property and listing agent is unique, so I take a different strategy and approach towards every offer I write, in order to understand my client’s needs and, most importantly, get my clients accepted. I absolutely believe that the home buying process, as emotional draining as it sounds, should definitely be a fun one! There’s no place like homes, and I am ready to take my clients there! Hang on tight, we are going FAST!
		</p>
	</div>
</div>