<div class="wcwdfy" id="professional-photos">
	<h2>Professional Photography</h2>
	<img src="assets/camera.jpeg">
</div>
<div class="wcwdfy" id="youtube">
	<h2>YouTube tour</h2>
	<img src="assets/youtube.jpeg">
</div>
<div class="wcwdfy" id="print-ads">
	<h2>Newspaper Print Ads</h2>
	<img src="assets/news.jpeg">
</div>
<div class="wcwdfy" id="market-analysis">
	<h2>Market Analysis</h2>
	<img src="assets/analysis.jpeg">
</div>
<div class="wcwdfy" id="internet-domain">
	<h2>Custom Internet Domain</h2>
	<img src="assets/internet.jpeg">
</div>


