<div class="navbar">
	<ul class="nav">
		<li class="Home"><%= link_to "Home", root_path %></li>
		<li><%= link_to "About Me", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
</div>